

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!--Sidebar content-->
            <div ng-controller="uploadController">
                <!--Username-->
                <!--<input type="text" ng-model="username"><br/><br/>-->
                <!--watching model:-->
                <!--<div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>-->
                <!--on file change multiple:-->
                <!--<div class="button" ngf-select="upload($files)" ngf-multiple="true">Select File</div>-->
                Drop File:
                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                     accept=""
                     ngf-pattern="">Drop files here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                Files:
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                </ul>
                Upload Log:
                <pre>{{log}}</pre>
            </div>
        </div>

        <div class="col-md-8">
            <div>
                <div class="list-group">

                    <div class="panel panel-warning">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-8"><h3 class="panel-title"><h4>Current Path:&nbsp;{{currRoot + "/" + currPath }}</h4></h3></div>
                                <div class="col-xs-6 col-lg-4" style="padding-left:25%;"><button type="button" class="btn btn-success" ng-click="listDirectory(lastPath)">Back</button></div>
                            </div>
                        </div>

                    </div>
                    <li  class="list-group-item" data-ng-repeat="file in fileList" data-ng-class="{'active' : selectFile.item == $index}" data-ng-click="selectFile.item = $index; openPath(file.name, file.isDir)">
                        <p data-ng-class="{'selected' : selectFile.item == $index}" href= {{}}>

                            {{file.name}} &nbsp;&nbsp;&nbsp;
                            <span class="badge" ng-if= "file.isDir == 'true'">文件夹</span>
                        </p>
                    </li>

                </div>

            </div>
        </div>

    </div>
</div>
